#logo{
    margin: 4px;
}
h5{
    font-weight:bold;
}

#nav-bar{
    
    position: fixed;
    top:0px;
    width: 100%;
    
    z-index: 999;
    background-color: white;
}
.dark-mode #nav-bar{
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 999;
    background-color: black;
}
.dark-mode{
    color:aquamarine;
    background-color: black;
}


.dark-mode .nav-link {
  color: #f8f9fa;
}
.dark-mode .nav-link:hover {
  color: aquamarine;
}
.dark-mode .nav-pills .nav-link.active {

  color: #000;
}
.dark-mode h1#header{
    color:aquamarine
}
#darkModeSwitch:checked{
    background-color: aquamarine;
}
#icon-grid img{
    margin-right: 5px;
}
.dark-mode #contact{
    color:white;
}
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) grayscale(100%) brightness(50%);
}
.dark-mode .carousel-indicators [data-bs-target] {
  background-color: darkgrey;
  
}
.dark-mode .carousel-indicators .active{
    background-color: aquamarine;
    opacity: 1;
}
.carousel-indicators [data-bs-target] {
  background-color: #ccc; /* light gray or any color */
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #0d6efd; /* Bootstrap primary blue */
  opacity: 1;
}
.textToggle.dark {
  color: white;
  background-color: #222;
}

.albumToggle.dark {
  border-color: white;
  background-color: #111;
}
.albumToggle.dark .card-title{
    color:aquamarine
}
.albumToggle.dark .card-text{
    color:aquamarine;
}
.albumToggle.dark .card-body{
    background-color: #393E46;
}







